
.open-sans-normal> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.header{
    width: 1440px;
    height: 698px;
    background-image: url('../Assets/Hero-bg.png');
    background-size: cover;
    margin: auto;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 130px;
    width: 1140px;
    height: 154px;
    
}
.logo{
    color:#4E47FF;
    padding: 0 50px;
    font-weight:900;
    font-size: x-large;
    width: 105px;
    height: 54px;

}
.button{
    background-color: #4E47FF;
    color: white;
    border-radius: 5px;
    height: 48px;
    width: 132px;
    margin-top: 16px;

}
.banner{
    width: 905px;
    height: 237px;
    text-align: center;
    gap: 37px;
    position: absolute;
    left: 307.5px;
    top: 312px;
}
.action{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 328px;
    gap: 30px;
    margin:130px 130px;
    gap: 80px;
   
    margin-right: 130px;
}


.action-content{
    width: 517px;
    height: 203px;
    gap: 26px;

}
.action-title{
    color: #252432;
    font-size: 42px;
    font-weight: bold;
}
.action-p{
    width: 517px;
    height:60px ;
    font-size: 24px;
    font-weight:400;
    color: #252432;
}
.action-image{
    width: 403px ;
    height: 328px;
    position: absolute;
    left: 737px;
    margin-left: 200px;
    
}
 .model
{
    width:900px ;
    height:206px ;
    position: absolute;
    left: 300px;
    right: 1258px;
    padding: 0px 50px 90px;
    background-color: #EDEBFB;
    text-align: center;
    border-radius: 5px;
   
}
 .model-box{
    display: flex;
    justify-content: center;
    width: 856px;
    height: 121px;
    
    position: absolute;
    right: 85px;
    max-width: 1140px;
    margin: 0 auto;
   
} 

.model-hd{
    color: #333;
    font-weight: 600;
    font-size: 38px;
    width: 856px;
    height: 45px;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 40PX; */
}
 .model-design{
    width: 180px;
    height: 121px; 
    gap: 158; 
    border-radius: 8px;
    min-width: 150px;
    margin-bottom: 30px;
   
   
    left: 3px;

} 
.model-h{
     width: 180px;
    /* height: 121px;  */
    align-items: center; 
    color: #3B49DF;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 13PX; 
} 
.model-p{
    font-weight: 400px;
    font-size: 20px;
    width: 120px;
    height: 24px;
    color: #666;
   
} 